
@model HomeViewModel

@{
    ViewData["Title"] = "Hírek";
}

<h1>The News</h1>

<table class="table">
    <thead>
        <tr>
            <th>
            
                <img src="@Url.Action("PictureForArticle", new {pictureId = Model.LeadingArticleView.Article.Id})" class="contentPicture" height="100" width="200"/>
            
                <h2><a asp-action="Details" asp-route-id="@Model.LeadingArticleView.Article.Id">@Model.LeadingArticleView.Article.Title</a></h2>
                <h6>@Model.LeadingArticleView.Article.Summary</h6>
                <p align="right">@Model.LeadingArticleView.Article.Date</p>
            </th>
        </tr>
    </thead>
    <tbody>
        <td>
            @foreach (var item in Model.Articles)
            {
                <h4><a asp-action="Details" asp-route-id="@item.Id">@item.Title</a></h4>
                <h6>@item.Summary</h6>
                <p align="right">@item.Date</p>
                <hr />
            }
        </td>
    </tbody>
</table>

